<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>
		 <div class="form-group">
			<form action="/" method="POST" id="form">
		        <label for="examplemrn">Mrn</label>
		        <input type="text" name="aa"> 
		        <p>MRN<input type="text" name="mrn"></p>
			<input class="button" type="submit" value="Submit">
			</form> 
		</div>


	</body>

	<script>
		$(function(){
			$('button').click(function(){
				var aa = $('#aa').val();
				var mrn = $('#mrn').val();
				$.ajax({
					url: '/',
					dataType: 'json'
					data: JSON.stringify(aa), JSON.stringify(mrn),
					type: 'POST',
					success: function(response){
						console.log(response);
					}
				})
			})
		})
	</script>
</html>
